.jopDetails-disc{
    text-align: initial;
    color: #576575;
}
.jopDetails-disc h3{
    font-family: Lato;
    font-weight: bold;
    color: #576575;
}

.jobDetails-title{
    color:#576575;
    font-weight: bold;
}